body{
    background-color: palegoldenrod;
    box-sizing: border-box;
}
.title {
    background-color: gold;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid black;
    text-decoration: underline;
    text-align: center; /* Keeps the text centered */
}

/*headings*/
#rajma-chawal .heading, #fries .heading, #maggi .heading{
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
}
/*image*/
#maggi .centre, #rajma-chawal .img, #fries .img{
    display: block;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;

}
/*steps*/
#rajma-chawal .steps, #maggi .steps, #fries .steps{
    margin-left: 40px; 
    font-size: 20px;
}
#recipes .list-item li{    
    display: inline-block;
    background-color: orange;
    font-size: 30px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 40px;
    margin: 30px;
    cursor: pointer;
}
#recipes .list-item a{
    color: blue;
}
#recipes .list-item{
    text-align: center;
}


